.mobile-nav-toggle {
    /*noinspection CssInvalidFunction*/
    background-image: inline("../img/icon-hamburger.svg");
}

#sitesearch-form .search-btn {
    /*noinspection CssInvalidFunction*/
    background-image: inline("../img/icon-search.svg");
}

#navigation {
    transition: transform 350ms;
    overflow-x: hidden;
}

#navigation[data-visible="true"]{
    transform: translateX(0%);
}

.mobile-nav-toggle[aria-expanded="true"]{
    background-image: inline("../img/icon-close.svg");
}

header.site-header {
   transition: all 300ms ease-in-out;
}

.scroll-down header{
    transform: translate3d(0, -100%, 0);
}

.scroll-up header {
    filter: drop-shadow(0 -10px 20px);
}