{% load menu_tags static wagtailcore_tags %}

<header class="site-header border-dashed border-4 box-border border-gray-500 fixed top-0 z-[9999] bg-white w-full">
    <div class="flex">
        <div class="w-1/4 p-4 bg-white">
            <a href="{{ current_site.root_url }}">
                <img class="max-w-full" src="{% static '/img/logo.png' %}" alt="">
            </a>
        </div>
    </div>
    <button class="mobile-nav-toggle absolute top-3 right-3 z-[9999] h-8 w-8 md:h-12 md:w-12 lg:hidden bg-no-repeat bg-cover bg-center" aria-controls="navigation" aria-expanded="false"><span class="sr-only">Menu</span></button>
    <div id="navigation" data-visible="false" class="fixed inset-0 left-1/4 border-dashed border-4 border-black p-4 py-12 bg-slate-100 translate-x-full">
        {% include 'includes/site-search.html' %}
        <div class="mb-4 border-dashed border-4 border-red-300 text-sm">
            Secondary menu
        {% comment %}{% flat_menu 'secondary' %}{% endcomment %}
        </div>
        <div class="border-dashed border-4 border-red-300 text-sm">
            Primary menu
            {% comment %}{% main_menu %}{% endcomment %}
        </div>
    </div>
</header>